<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="The Interne Suite" parallel="false" preserve-order="true">

	<test name="First 4 Tests">
		<classes preserve-order="true">
			<class name="the.internet.app.TheInternateBase" />
			<class name="the.internet.app.TheInternetTests" />
		</classes>
	</test> <!-- Test -->

	<test name="Next 4 Tests">
		<parameter name="browser" value="FF"></parameter>
		<classes>
			<class name="the.internet.app.NextStepMove" />
		</classes>
	</test>
</suite> <!-- Suite -->
